body {
  background-color: #ffff7f;
}

.container {
  background-color: white;
  margin: 20px auto;
  width: 900px;
  height: 70%;
  padding: 0px 20px 20px 20px;
  border: 5px solid black;
  clear: both;
}

.header {
  margin: 20px auto;
  width: 900px;
  height: 50px;
  margin-bottom: 50px;
}

th {
  text-align: left;
}

nav ul {
  display: inline;
  float:right;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 3px;
}

nav a:hover {
  color: gray;
}

#logo {
  display: inline;
  font-family: 'Bangers', cursive;
  font-size: 3em;
}

#banana {
  width: 50px;
  height: 50px;
  display: inline;
}

form {
  padding: 3%;
}

form input {
  display: block;
  margin-bottom: 2%;
}

.buttonStyle {
  border: 1px solid yellow;
  /*background-color: gray;*/
  /*background: url('http://images.clipartpanda.com/banana-20clip-20art-niEeKGXiA.png');*/
}

.banana-button{
  background:    #ffff7f;
  border:        3px solid black;
  border-radius: 25px;
  color:         black;
  display:       inline-block;
  padding:       8px 20px;
  font:          normal 700 24px/1 "Bangers", sans-serif;
  text-align:    center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  text-decoration: none;
}

.no-border {
  border:none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.survey-buttons{
  display: inline-block;
}

footer p{
  text-align: center;
  width: 100%;
  color: black;
  font-family: "Bangers";
}
