<div id="container">
  <h3>Choices</h3>
  <ol>
    <% @choices.each do |choice| %>
      <li><%= choice.text %></li><br>
    <% end %>
  </ol>

<a href="/choices/<%= @question.id %>/new" class="banana-button no_decoration">Add Choice</a>

<a href="/surveys/<%= @question.survey_id %>" class="banana-button no_decoration">View Survey</a>

</div>
